<div class="form-group {% if errors[columnName] is defined %}has-error{% endif %}">
  <label for="{{ phpName }}" class="col-sm-2 control-label">{{label}}</label>
  <div class="col-sm-10">
    <input
      type="{{ type }}"
      class="form-control"
      id="{{ phpName }}"
      name="{{ phpName }}"
      placeholder="{{label}}"
      value="{{value}}" />
      {% if errors[columnName] is defined %}
        <div class="alert alert-danger" role="alert">
          <span class="fa fa-exclamation" aria-hidden="true"></span>
          <span class="sr-only">Erreur:</span>
          {{ errors[columnName] }}
        </div>
      {% endif %}
  </div>
</div>
