{% extends "layout.html.twig" %}
{% block body %}

{% if flash['success'] is defined %}
  <div class="alert alert-success" role="alert">{{ flash['success'] }}</div>
{% endif %}
{% if flash['error'] is defined %}
  <div class="alert alert-danger" role="alert">{{ flash['error'] }}</div>
{% endif %}

<form class="form-horizontal" method="post" action="{{ urlFor('me_post') }}">
  <input type="hidden" name="id" value="{{ user.id }}">
  {{ input_tag('firstName', 'Prénom', user.firstName, errors, 'user.first_name') }}
  {{ input_tag('lastName', 'Nom', user.lastName, errors, 'user.last_name') }}
  {{ input_tag('email', 'E-mail', user.email, errors, 'user.email', 'mail') }}
  {{ input_tag('phoneNumber', 'Téléphone', user.phoneNumber, errors, 'user.phone_number') }}
  {{ input_tag('currentPassword', 'Mot de passe actuel', '', errors, 'user.current_password', 'password') }}
  {{ input_tag('password', 'Nouveau Mot de passe', '', errors, 'user.password', 'password') }}
  {{ input_tag('rePassword', 'Retaper le', '', errors, 'user.re_password', 'password') }}


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Enregistrer</button>
    </div>
  </div>
</form>

{% endblock %}
